<div class="topnav">
  <a routerLink="courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a routerLink="create-course" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Create Course</a>
  <a routerLink="create-student" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Create Student</a>
  <a routerLink="progress" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Student Progress</a>
  <a href="/login">Log Out</a>
</div>
