.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a, span, button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: #333;
}

.topnav a:hover, .topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.instructor {
  background-color: #5E47BC;
  font-weight: bold;
}

.student {
  background-color: #FDC910;
  font-weight: bold;
  color: black;
}
