<div class="login">
  <div class="block">
    <form class="form">
      <h3>Login</h3>

      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-flat-button class="full-width" (click)="login()">Login</button>

      @if (authService.authError.getValue()) {
        <div class="error-text">Invalid login or password</div>
      }
    </form>
  </div>
</div>
