<div class="login">
  <div class="block">
    <form class="form">
      <h3>Login</h3>

      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>

      <button mat-flat-button class="full-width">Login</button>

      @if (true) {
        <div class="error-text">Invalid login or password</div>
      }
    </form>
  </div>
</div>
