.progress {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding-top: 20px;
}

.progress-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.username {
  font-size: 25px;
}

.score {
  color: #5E47BC;
  font-size: 25px;
  font-weight: bold;
}
