.create-student {
  display: flex;
  justify-content: center;
}

.block {
  margin-top: 70px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.error-text {
  margin-top: 15px;
  color: crimson;
  font-size: 20px;
  font-style: italic;
}

.success-text {
  margin-top: 15px;
  color: rgb(110, 169, 21);
  font-size: 20px;
  font-style: italic;
}
