<div class="create-student">
  <div class="block">
    <form class="form">
      <h3>Create Student</h3>

      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-flat-button class="full-width" (click)="createStudent()">Create Student</button>

      @if (studentService.createStudentError.getValue()) {
        <div class="error-text">Student already exists</div>
      }
      @if (studentService.createStudentSuccess.getValue()) {
        <div class="success-text">Student created successfully</div>
      }
    </form>
  </div>
</div>
